{% extends "base.html" %}
{% load thumbnail %}

{% block main %}
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for tile in tiles %}
        <div class="span4">
          <img class="img-circle" src="{{ tile.image|thumbnail_url:'tile' }}">
          <h2>{{ tile.title }}</h2>
          <p>{{ tile.content|linebreaksbr }}</p>
          {% if tile.link != '' and tile.link != '#' %}
          <p><a class="btn" href="{{ tile.link }}">Läs mer &raquo;</a></p>
          {% endif %}
        </div><!-- /.span4 -->
        {% endfor %}
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      {% for featurette in featurettes %}
      <div class="featurette">
        <img class="featurette-image {% if forloop.counter|divisibleby:"2" %}pull-left{% else %}pull-right{% endif %}" src="{{ featurette.image|thumbnail_url:'featurette' }}">
        <h2 class="featurette-heading">{{ featurette.title }} <span class="muted">{{ featurette.subtitle }}</span></h2>
        <p class="lead">{{ featurette.content|linebreaksbr|urlize }}</p>
      </div>
      <hr class="featurette-divider">
      {% endfor %}
      <!-- /END THE FEATURETTES -->
{% endblock %}