{% extends "base.html" %}
{% load thumbnail %}

{% block main %}
<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% for tile in tiles %}
        <div class="span4">
          {% if tile.image_format == 'R' %}
            <img class="img-rectangle" src="{{ tile.image|thumbnail_url:'tile-rectangle' }}">
          {% else %}
            <img class="img-circle" src="{{ tile.image|thumbnail_url:'tile-circle' }}">
          {% endif %}
          <h2>{%if lang == 'en'%}{{ tile.title_en }} {% else %}{{ tile.title_sv }}{%endif%}</h2>
          <p>{%if lang == 'en'%}{{ tile.content_en|linebreaksbr }} {% else %}{{ tile.content_sv|linebreaksbr}}{%endif%}</p>
          {% if tile.link != '' and tile.link != '#' or tile.link_file %}
          <p><a class="btn" href="{% if tile.link_file %}{{ tile.link_file.url }}{% else %}{{ tile.link }}{% endif %}">
            {% if lang == 'en' %}
              {% if tile.link_text_en %}
                {{ tile.link_text_en }}
              {% else %}
                Read more
              {% endif %} &raquo;</a></p>
            {% else %}
              {% if tile.link_text_sv %}
                {{ tile.link_text_sv }}
              {% else %}
                Läs mer
              {% endif %} &raquo;</a></p>
            {% endif %}
          {% endif %}
        </div><!-- /.span4 -->
        {% endfor %}
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      {% for featurette in featurettes %}
      <div class="featurette">
        <img class="featurette-image {% if forloop.counter|divisibleby:"2" %}pull-left{% else %}pull-right{% endif %}" src="{{ featurette.image|thumbnail_url:'featurette' }}">
        <h2 class="featurette-heading">
          {% if lang == 'en' %}
            {{ featurette.title_en }} <span class="muted">{{ featurette.subtitle_en }}</span></h2>
            <p class="lead">{{ featurette.content_en|linebreaksbr|urlize }}</p>
          {% else %}
            {{ featurette.title_sv }} <span class="muted">{{ featurette.subtitle_sv }}</span></h2>
            <p class="lead">{{ featurette.content_sv|linebreaksbr|urlize }}</p>
          {% endif %}
      </div>
      <hr class="featurette-divider">
      {% endfor %}
      <!-- /END THE FEATURETTES -->
{% endblock %}